body{
    line-height: 1.2;
}

.logo{
    width: 200px;
}

header, li a{
    background: #f7b500;
    font-family: 'Unica One', cursive;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration:none; 
}

li a:hover{
    color:#00adb4;
}

.caixa-header{

    position: relative;
    width: 960px;
    margin: 0 auto;
    clear: right;
    clear: left;
}

.caixa-header li{
    display: inline-block;
    padding-left: 20px;
}

.caixa-header ul{
    position: absolute;
    top: 45px;
    right: 0;
}

.banner{
    width: 100%;
}

main p {
    height: 280px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: bold;
}

.caixa-produtos{
    position: relative;
    width: 960px;
    margin: 0 auto;
    color: #FEFEFE;
}

.title-center{
    font-family: 'Unica One', cursive;
    font-size: 30px;
    color: #f7b500;
    font-weight: bold;
    text-decoration:none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.carros{
    width: 50%;
    border-radius: 50%;
    opacity: 30%;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: top;
    transition: 0.3s all;    
}

.carros:hover{
    opacity: 100%;
}


#car1 {
    float: right;
}

#car2 {
    float: left;
}


#car3 {
    float: right;
}

.sobre{
    background: #393d46;
}

.caixa-sobre{
    background: #393d46;
    position: relative;
    width: 960px;
    margin: 0 auto;
    color: #FEFEFE;
}

.video{
    text-align: center;
    padding-bottom: 30px;
}

.caixa-form{
    position: relative;
    width: 960px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin-bottom: 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: #f7b500;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: #00adb4;
	transform: scale(1.2);
}

footer{
    text-align: center;
    background: #00adb4;
    padding: 30px;
}